*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    font-weight: normal;

    
}

header{
  background-color: black;
  border-bottom: 1px solid seashell;
  top: 0;
  height: 69px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;

}

header img{
    margin-left: 10px;
    height: 50px;
}
nav{
    width: 100%;
}

.nav-links{
    display:flex;
    justify-content: flex-end;
}

.nav-link1 {
    text-decoration: underline;
    margin: 10px;
}
.nav-link2 {
    text-decoration: underline;
    margin: 10px;
}
.nav-link3 {
    text-decoration: underline;
    margin: 10px;
}

.mission-bg{
    height: 700px;
    width: 1200px;
    position: relative;
    top: 63px;

}

.our-mission {
    display: flex;
    flex-direction: column;
    position:relative;
    top: -350px;
    align-items: center;
    justify-content: center;
}

.our-mission h2{
    font-weight: bold;
}
.our-mission h4{
    margin: 0;
    padding: 0;
}

.tea-of-the-month {
    width: 1000px;
    height: auto;
    position: relative;
    left: 250px;
    margin-bottom: 50px;
   

}

.tea-of-the-month-headlines h1{
    font-weight: 900;
}
.tea-of-the-month-pictures h1{
    margin: 10px;
}

.tea-of-the-month-pictures{
    display: flex;
    flex-wrap: wrap;
    
}
.tea-of-the-month-pictures img{
    width:300px;
    height: 200px;
    margin: 10px;
}

.location img {
    height: 500px;
    width: 1200px;
    
}

.location h1{
    position: relative;
    background-color: transparent;
    top: -450px;
    font-weight: bold;
  
    
}

.location-sites {
    display: flex;
    position: relative;
    top: -465px;
    background-color: transparent;
    justify-content: center;

  
      
}

.downtown {
    width: 300px;
    margin-right: 40px;
    margin-top: 15px;
  
}
.east-bayside {
    margin-right: 40px;
    width: 300px;
    margin-top: 15px;
 


}
.oakdales {
    width: 300px;
    margin-top: 15px;
}

.oakdales span{
    font-weight: bold;
}

.east-bayside span {
    font-weight: bold;
}

.downtown span {
    font-weight: bold;
}

